test welcome page
<% if current_user %>
 <p>Hello <%= current_user.email%>!</p>
 <p>You Have Sucssfully create Account</p>
<% end %>

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
  
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-12">
      <div class="navbar-header">
        <a class="navbar-brand">Leave Managment System</a>
      
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home</a></li>
      </ul>
    </div>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %> </li>
        <li> <%= link_to "log out",  destroy_user_session_path, :method => :delete %> </li>
      </ul>
    </div>
  </nav>

  
<div class="container">
 <h1>hdhk</h1>
</div>

</body>
</html>
